* {
  margin: 0;
  padding: 0;
}
.google-logo {
  background: url("https://flixable.com/images/google.svg") no-repeat;
  padding: 12px;
}
.logo-pet-go {
  font-family: fangsong;
  color: white;
  font-weight: bold;
  font-size: xxx-large;
  font-style: italic;
}
