* {
    margin: 0;
    padding: 0;
}
.instagram-logo {
    background-position: 0 -130px;
    height: 51px;
    width: 175px;
    background-image: url(https://bit.ly/3v2LT17);
}
.google-logo {
    background: url('https://flixable.com/images/google.svg') no-repeat;
    padding: 12px;
}
.apple-store-logo {
    background-position: -132px -182px;
    height: 42px;
    width: 128px;
    background-image: url(https://bit.ly/3v2LT17);
}
.google-store-logo {
    background-position: 0 -182px;
    height: 42px;
    width: 130px;
    background-image: url(https://bit.ly/3v2LT17);
}

.logo-pet-go{
    font-family: fangsong;
    color: white;
    font-weight: bold;
    font-size: xxx-large;
    font-style: italic;
}
